<div class="jumbotron">
  <h1 class= "page-header"> Welcome to The Home Page </h1>
</div>

  <ul>
    <% if user_signed_in? %>
        <li>  <%= link_to "Add A New Comic", new_comic_path %>  </li>
    <% else %>
        <li>  Please sign up to add a new comic </li>
    <% end %>
    <li> <%= link_to "Comics", comics_path %> </li>
  </ul>
