<div class="jumbotron">
  <h1> Comics </h1>
</div>
<% @comics.each do |comic| %>
  <li>  <%= link_to "#{comic.title}", comic_path(comic) %> |
        <% unless current_user.nil? %>
          <% if current_user.id == comic.user_id || current_user.admin? %>
          <%= button_to "delete", comic, :method=>:delete, :class=>:destroy, class: "btn btn-danger" %>
          <% end %>
        <% end %>
  </li>
<% end %>
