
@import "bootstrap";
/*
  *= require tether
*/

ul a {
 color: black;
}

li {
  list-style-type: none;
}

.container {
  text-align: center;
}

.nav-link{
  display: inline-block;
}

.flash-container {

}

#comic-new {
  padding-top: 5%; 
}

#comic-info {
  text-align: left;
  display: inline-block;
}


#review {
  text-align: left;
  display: inline-block;
}

// find a way to display info not as a default UL looks terrible
