
@import "bootstrap";
/*
  *= require tether
*/

.container {
  text-align: center;
}

.nav-link{
  display: inline-block;
}

.flash-container {

}

#comic-info {
  text-align: left;
  display: inline-block;
}


#review {
  text-align: left;
  display: inline-block;
}

// find a way to display info not as a default UL looks terrible
