
@import "bootstrap";
/*
  *= require tether
*/

.nav-link{
  display: inline-block;
}

.jumbotron {
  text-align: center;
}
.flash-container {
  padding-right: 2rem; 
}




// find a way to display info not as a default UL looks terrible
